<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Update Priority</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='https://necolas.github.io/normalize.css/3.0.1/normalize.css'>
    <link rel="stylesheet" href="css/home.css">
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #ddd;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: #666;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: #111;
        }

        .active {
            background-color: #4CAF50;
        }

        input[type=submit] {
            background-color: #ADD8E6;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: center;
        }
        .btn {
          background-color: #f4511e;
          border: none;
          color: white;
          padding: 16px 32px;
          text-align: center;
          font-size: 16px;
          margin: 4px 2px;
          opacity: 0.6;
          transition: 0.3s;
        }
        .btn:hover {opacity: 1}
    </style>
    <link rel="ICON" href="img/favicon.ico" type="image/ico" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<ul>
  <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/img/speechsoft.png" alt="Smiley face" width="120" height="40"></li>
  <li style="float:right"><a href="/login">Logout</a></li>
  <li style="float:right"><a href="/home">Home</a></li>
  <li style="float:right"><a href="/create">Create a Survey</a></li>
  <li style="float:right"><a href="/edit">Edit a Survey</a></li>
  <li style="float:right"><a href="/queue">Add queues to a survey</a></li>
  <li style="float:right"><a href="/activate">Activate/Deactivate Queues</a></li>
</ul>
<div class="container">
<br>
<br>
<br>
<div class="row">
<div class="col-sm-8 offset-sm-4">
<br>
    <% if(error != null ) { %>
    	<label for = "alert" class="text-danger"><%= error %></label><br>
    <% } %>
  <form action="/edit/update/<%= survey_name %>" method = "POST">
  <h1> Update Priority </h1>
  <br>
  <% for(var i=0; i < survey_records.length; i++) { %>
  <label for="question">Question:</label>
  <textarea class = "form-control" id="number" name="numbers" disabled> <%= survey_records[i].Question%></textarea>
  <input type="hidden" id="questionId" name="questionId" value=<%= survey_records[i].ID%>>
    <br>
    <div class="form-group">
	<div class="col-6">
	       <label for="Priority">Priority:</label>
           <select name="questiontype" id="questiontype">
           <% for(var j=0; j < survey_records.length; j++) { %>
             <option value = <%= j + 1 %> ><%= j + 1 %></option>
           <% } %>
           </select>
	</div>
    </div>
  <% } %>
    &nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-primary" name = "submit" id = "submit">Update</button>
  </form>
</div>
</div>
</div>
</body>
</html>